extends base

block content
   p Hi #{name},
   p You sent an email to Fantastic Flames.
   table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
         tr
            td(align='left')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
               tbody
                  tr
                     td
                        a(href=`${url}`, target='_blank') A Link Here if needed 
   p Your name: #{name}
   p Your phone: #{phone}
   p Your email: #{email}
   p Your event description:
   p #{desc}
   p Thank you.
